<div class="mx-auto max-w-md">
  <div class="m-4 sm:m-10 p-4 sm:p-6 border rounded shadow-md max-w-md mx-auto w-full">
    <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">

      <!-- Email -->
      <div>
        <label for="email" class="block text-gray-700 font-medium mb-1">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" autocomplete="email"
          class="w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-red-300" />
        <div *ngIf="!validEmail" class="text-red-600 text-sm mt-1">Valid email required.</div>
      </div>

      <!-- Nickname -->
      <div>
        <label for="nickName" class="block text-gray-700 font-medium mb-1">NickName:</label>
        <input type="text" id="nickName" name="nickName" [(ngModel)]="nickName" autocomplete="username"
          class="w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-red-300" />
        <div *ngIf="!validNickName" class="text-red-600 text-sm mt-1">At least 4 characters required.</div>
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="block text-gray-700 font-medium mb-1">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" autocomplete="current-password"
          class="w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <div *ngIf="!validPassword" class="text-red-600 text-sm mt-1">
          Password must be 9–18 chars, include 1 letter, 1 number, 1 special character.
        </div>
      </div>

      <!-- Botón -->
      <button type="submit"
        class="w-full bg-red-400 hover:bg-red-500 hover:text-white active:scale-95 font-bold py-2 px-4 rounded">
        Create Player
      </button>

    </form>
  </div>
</div>
