<main class="main">
  <div class="flex justify-between bg-red-300 rounded-lg p-5 w-full">
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    <!--<button (click)="getVideo()">getvideo</button>-->
    <nav class="flex justify-between p-4 w-full mr-4">
      <div>
        <a mat-fab extended routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </div>
      <div>
        <a mat-fab extended routerLink="/pokemons">
          <mat-icon>pie_chart</mat-icon>
          Pokemons
        </a>
      </div>
      <div *ngIf="isLogin">
        <a *ngIf="isLogin" mat-fab extended routerLink="/teams">
          <mat-icon *ngIf="isLogin">pie_chart</mat-icon>
          Player Teams
        </a>
      </div>
      <div *ngIf="!isLogin">
        <a *ngIf="!isLogin" mat-fab extended routerLink="/createPlayerForm">
          <mat-icon>sports_esports</mat-icon>
          NewPlayer
        </a>
      </div>
      <div *ngIf="!isLogin">
        <a *ngIf="!isLogin" mat-fab extended routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </div>
      <div *ngIf="isLogin">
        <button *ngIf="isLogin" mat-fab extended (click)="logOut()">
          <mat-icon>logout</mat-icon>
          LogOut
        </button>
      </div>
    </nav>
    <h1>Pokemon App</h1>
  </div>
</main>

<router-outlet />