<div>
  <div class="flex justify-between p-4 w-full mr-4">
    <button *ngIf="team.name" mat-fab extended style="background-color: rgba(255, 0, 21, 0.39);" class="rounded-lg p-2"
      (click)="addPokemon(pokemon, team)">
      <mat-icon>donut_small</mat-icon>
      Add to {{team.name}}
    </button>
    <a *ngIf="!isLogin" href="/login"
      class="mb-4 bg-red-300 hover:bg-red-400 hover:text-white active:scale-95 py-2 px-4 rounded">You need to be logged
      in to create teams and add Pokémon.</a>
    <a *ngIf="!team.name" disabled mat-fab extended style="background-color: rgba(255, 0, 21, 0.39);"
      class="rounded-lg p-2" href="/teams">
      <mat-icon>donut_small</mat-icon>
      Select a team to add pokemon
  </a>
  </div>