<div>
    <div class="flex justify-between p-4 w-full mr-4">
      <button *ngIf="team.name" mat-fab extended style="background-color: rgba(255, 0, 21, 0.39);" class="rounded-lg p-2" (click)="addPokemon(pokemon)">
        <mat-icon>donut_small</mat-icon>
        Add to {{team.name}}
      </button>
      <button *ngIf="!team.name" disabled mat-fab extended style="background-color: rgba(255, 0, 21, 0.39);" class="rounded-lg p-2" (click)="addPokemon(pokemon)">
        <mat-icon>donut_small</mat-icon>
        Select a team to add pokemon
      </button>
  </div>
