<div class="columns-4">
    <vg-player class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="3"
            class="w-28">
            <source src="/charizar.mp4" type="video/mp4">
        </video>
    </vg-player>
    <vg-player class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="/iron-hands.mp4" type="video/mp4">
        </video>
    </vg-player>
    <vg-player class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="/miraidon.mp4" type="video/mp4">
        </video>
    </vg-player>
    <vg-player class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="/squirtle.mp4" type="video/mp4">
        </video>
    </vg-player>
</div>
  
  
