<div class="columns-4">
    <vg-player *ngIf="charizardVideo" class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="3"
            class="w-28">
            <source src="{{charizardVideo}}" type="video/mp4">
        </video>
    </vg-player>
    <vg-player *ngIf="ironHandsVideo" class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="{{ironHandsVideo}}" type="video/mp4">
        </video>
    </vg-player>
    <vg-player *ngIf="miraidonVideo" class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="{{miraidonVideo}}" type="video/mp4">
        </video>
    </vg-player>
    <vg-player *ngIf="squirtleVideo" class="w-28 m-5 align-center">
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop muted [playbackRate]="2"
            class="w-28">
            <source src="{{squirtleVideo}}" type="video/mp4">
        </video>
    </vg-player>
</div>
  
  
